<%- include("partials/header.ejs") %>

<h2><a href="/post/new">Create Your Post here</a></h2>

<h1>All Posts</h1>

<% posts.forEach(post => { %>
    <div>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <form action="/post/<%= post.id %>/edit" method="GET">
            <button type="submit">Edit</button>
        </form>
        <form action="/post/<%= post.id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
<% }); %>
<%- include("partials/footer.ejs") %>